[submodule "mikomarketplace-frontend"]
	path = mikomarketplace-frontend
	url = https://github.com/meSmashsta/mikomarketplace-frontend
[submodule "mikomarketplace-backend"]
	path = mikomarketplace-backend
	url = https://github.com/meSmashsta/mikomarketplace-backend
